* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Poppins", sans-serif;
}

.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: hsl(0, 0%, 86%);
}

.calc-container {
  background-color: white;
  border-radius: 20px;
  border-bottom-right-radius: 100px;
  padding: 40px;
}

.input-container {
  display: flex;
  gap: 20px;
}

label {
  display: flex;
  flex-direction: column;
}

/*remove arrows from input type number */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  appearance: none;
}

/* For Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
