* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  color: hsl(0, 0%, 8%);
}

.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: hsl(0, 0%, 86%);
}

.calc-container {
  background-color: white;
  border-radius: 20px;
  border-bottom-right-radius: 150px;
  padding: 40px;
  width: 700px;
}

.input-container {
  display: flex;
  gap: 30px;
  border-bottom: 2px solid hsl(0, 0%, 86%);
  padding-bottom: 40px;
  position: relative;
}

.text-container {
  margin-top: 30px;
}

label {
  display: flex;
  flex-direction: column;
  color: hsl(0, 1%, 44%);
  font-size: 12px;
  letter-spacing: 5px;
}

input {
  font-family: "Poppins", sans-serif;
  border: 1px solid hsl(0, 0%, 86%);
  border-radius: 5px;
  padding: 12px;
  font-weight: 700;
  font-size: 25px;
  width: 120px;
  margin-top: 8px;
}

/*remove arrows from input type number */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  appearance: none;
}

/* For Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

input:focus {
  outline: none;
}

h2 {
  font-size: 80px;
  margin: 0;
  line-height: 90px;
  font-style: italic;
}

.invalid-alert {
  color: hsl(0, 100%, 67%);
  letter-spacing: normal;
  font-style: italic;
  margin-top: 5px;
  font-size: 11px;
}

span {
  color: hsl(259, 100%, 65%);
  font-style: normal;
}

button {
  border-radius: 50%;
  width: 80px;
  height: 80px;
  border: none;
  background-color: hsl(259, 100%, 65%);
  position: absolute;
  bottom: -40px;
  right: 0;
  cursor: pointer;
}

button:hover {
  background-color: black;
}

@media (max-width: 736px) {
  .calc-container {
    margin: 0 15px;
  }

  .input-container {
    padding-bottom: 70px;
  }

  .text-container {
    margin-top: 70px;
  }

  h2 {
    font-size: 65px;
    line-height: 70px;
  }

  input {
    width: 100px;
  }

  button {
    width: 60px;
    height: 60px;
    bottom: -30px;
    right: 50%;
    transform: translateX(50%);
  }

  button img {
    width: 25px;
  }
}
